<header id="home">
    <div class="view"
      style="background-image: url('https://i.redd.it/cybul3r4c0401.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-black-light d-flex justify-content-center align-items-center">
  
        <!-- Content -->
        <div class="container">
  
          <!--Grid row-->
          <div class="row wow fadeIn">
  
            <!--Grid column-->
             <div class="col-md-6 mb-4 white-text text-center text-md-left"> 
            <h1 class="display-4 font-weight-bold">lorem impsum dolor sit amet</h1> 
             <hr class="hr-light">
              <p>
                <strong>lorem impsum dolor sit amet</strong>
              </p>
              <p class="mb-4 d-none d-md-block">
                <strong>Lorem ipsum, dolor sit amet consectetur </strong>
              </p> -->
             <a href="#" class="btn btn-indigo btn-lg">signup</a> 
             <a href="#" class="btn btn-indigo btn-lg">signup 
             </a> 
             </div> 
            <!--Grid column-->
            <div class="col-md-3 col-xl-3 mb-3 ">
            </div>
            <!--Grid column-->
            <div class="col-md-6 col-xl-5 mb-4 ">
              <!--Card-->
              <div class="card" id="get-started">
                <!--Card content-->
                <div class="card-body">
                  <!-- Form -->
                  <form name="" method="POST">
                    <!-- Card Heading -->
                    <h3 class="white-text text-center">
                      <strong>Get your <i class="fas fa-car-side"></i> assessed</strong>
                    </h3>
                    <hr class="hr-light">
                    <div class="text-center">
                      <a href="/damage-detection" class="btn btn-indigo" name="loginButton">Get started! <i
                          class="fas fa-arrow-circle-right"></i></a>
                      <hr>
                    </div>
                     <div class="md-form">
                      <i class="fas fa-envelope prefix white-text"></i>
                      <input type="text" id="email" name="useremail" class="form-control" style="color: #fff;" required>
                      <label for="email" style="color: #fff;">Your email</label>
                    </div>
                    <div class="md-form">
                      <i class="fas fa-lock prefix white-text"></i>
                      <input type="password" id="pass" class="form-control" name="userpass" style="color: #fff;" required>
                      <label for="pass" style="color: #fff;">Your password</label>
                    </div>
                    <div class="text-center">
                      <button class="btn btn-indigo" name="loginButton">Login <i
                          class="fas fa-arrow-circle-right"></i></button>
                      <hr>
                    </div> -->
                  </form>
                  <!-- Form -->
                </div>
              </div>
              <!--/.Card-->
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
  </header>
  