{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}

{% include 'navbar-v1.html' %}

{%header}

<!-- about -->
<main>
  <div class="container">
    <hr class="my-5">

    <!--Section: Main features & Quick Start-->
    <section id="about">

      <h3 class="h3 text-center mb-5">About <i class="fas fa-car-crash"></i></h3>

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column 1-->
        <div class="col-lg-6 col-md-12 px-4">

          <!--First row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-angle-right fa-2x cyan-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">lorem ipsum</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
          <!--/First row-->

          <div style="height:30px"></div>

          <!--Second row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-angle-right fa-2x cyan-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">lorem ipsum</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
          <!--/Second row-->

          <div style="height:30px"></div>

          <!--Third row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-angle-right fa-2x cyan-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">lorem ipsum</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
          <!--/Third row-->

        </div>
        <!--/Grid column 1-->

        <!--Grid column 2-->
        <div class="col-lg-6 col-md-12 px-4">

          <!--First row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-angle-right fa-2x cyan-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">lorem ipsum</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
          <!--/First row-->

          <div style="height:30px"></div>

          <!--Second row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-angle-right fa-2x cyan-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">lorem ipsum</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
          <!--/Second row-->

          <div style="height:30px"></div>

          <!--Third row-->
          <div class="row">
            <div class="col-1 mr-3">
              <i class="fas fa-angle-right fa-2x cyan-text"></i>
            </div>
            <div class="col-10">
              <h5 class="feature-title">lorem ipsum</h5>
              <p class="grey-text">Lorem ipsum dolor sit amet consectetur</p>
            </div>
          </div>
          <!--/Third row-->
        </div>
        <!--/Grid column 2-->
      </div>
      <!--/Grid row-->
    </section>
    <!--Section: Main features & Quick Start-->

    <hr class="my-5">

  </div>
</main>

{% include 'footer.html' %}

{% endblock %}