{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block body %}

{% include 'navbar-v1.html' %}

<div class="container">
  <div class="jumbotron-container">
    <div class="jumbotron card card-image jumbotron-local">
      <div class="text-white text-center py-5 px-4">
        <div>
          <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Get a genuine report of your damaged
              Car</strong></h2>
          <p class="mx-5 mb-5">All you need to do is upload pictures of your car and our system will process them to
            find all the damage locations.
          </p>
          <input type="file" class="btn btn-outline-white btn-md" multiple="multiple">
          <button type="button" class="btn jumbotron-btn">Check for damage</button>


        </div>
      </div>
    </div>
  </div>
</div>

{% include 'footer.html' %}

{% endblock %}